* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

h1 {
  font-size: clamp(35px, 6vw, 50px);
  line-height: 1.07143;
  letter-spacing: 0.05em;
  font-weight: 400; }

h2 {
  font-size: clamp(32px, 3vw, 48px);
  /* font-weight: lighter; */
  line-height: 1.07143;
  letter-spacing: -0.005em; }

h3 {
  font-size: clamp(21px, 4vw, 28px);
  line-height: 1.14286;
  letter-spacing: 0.007em; }

h4 {
  font-size: clamp(17px, 3vw, 20px);
  line-height: 1.14286;
  letter-spacing: 0.007em; }

h5 {
  font-size: clamp(0.9rem, 0.5vw, 1rem);
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.381; }

p {
  font-size: clamp(16px, 1.2vw, 17px);
  line-height: 20.001001358032227px;
  letter-spacing: clamp(0.011em, 0.5vw, 0.022em); }

button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  transition: transform 0.2s linear; }

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  /* transform: scale(1.02); */ }

button:active {
  transform: scale(1); }

/* NAVBAR */
nav {
  display: flex;
  color: white;
  background-color: #34495e;
  padding: 24px 0; }
  nav .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 900px;
    padding: 0px 32px; }
  nav .line {
    display: none; }
  nav .logo {
    /* font-size: 42px; */
    letter-spacing: 0.05px; }
  nav .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px; }
    nav .social .icon-containers {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      background-color: white;
      list-style: none;
      transition: transform 0.2s linear; }
      nav .social .icon-containers a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    nav .social .icon-containers:hover {
      cursor: pointer;
      transform: scale(1.05); }
    nav .social .icon-containers:active {
      transform: scale(1); }
    nav .social .facebook {
      position: absolute;
      bottom: 0px;
      right: 3.5px;
      height: 25px; }
    nav .social .twitter {
      width: 20px;
      height: 20px; }
    nav .social .spotify {
      transform: rotate(49deg);
      position: absolute;
      bottom: 3px;
      left: 2.5px;
      height: 23px;
      width: 23px; }

/* MAIN CONTAINER */
.main-container {
  background-color: #ffffff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 900px;
  margin: auto; }

/* BULLET POINTS */
.bullet-points {
  padding: 0px 48px;
  display: flex;
  flex-direction: column;
  gap: 16px; }
  .bullet-points li {
    font-size: clamp(15px, 1.2vw, 17px);
    padding-left: 24px;
    letter-spacing: 0.05px; }

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 12px;
  margin: auto;
  width: 100%;
  max-width: 700px; }
  .price-container .plan {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .price-container .plan .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      padding: 16px;
      width: 100%;
      color: white; }
    .price-container .plan .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100%;
      padding: 16px; }
      .price-container .plan .details .line {
        height: 1px;
        width: 90%;
        margin: 8px;
        background-color: black; }
    .price-container .plan .trial {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .price-container .plan .trial button {
        padding: 6px;
        margin: 24px;
        color: white; }
  .price-container .basic .price {
    background-color: #50c1e9; }
  .price-container .basic .details {
    background-color: #d6f1fa; }
    .price-container .basic .details .line {
      background-color: rgba(176, 226, 246, 0.9); }
  .price-container .basic .trial {
    background-color: #e6e9ee; }
    .price-container .basic .trial button {
      background-color: #50c1e9; }
  .price-container .unlimited .price {
    background-color: #ffcf54; }
  .price-container .unlimited .details {
    background-color: #fffaee; }
    .price-container .unlimited .details .line {
      background-color: rgba(255, 207, 84, 0.9); }
  .price-container .unlimited .trial {
    background-color: #e6e9ee; }
    .price-container .unlimited .trial button {
      background-color: #ffcf54; }

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center; }
  .contact-container h2 {
    font-weight: 400; }
  .contact-container button {
    margin: 6px;
    padding: 12px 60px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    background-color: #8dc153; }

footer {
  background-color: #34495e;
  color: white;
  text-align: center; }
  footer .mobile-contact {
    display: none;
    background-color: #8dc153; }
    footer .mobile-contact button {
      width: 100%;
      padding: 12px 0; }
    footer .mobile-contact button:hover {
      transform: scale(1.05); }
    footer .mobile-contact button:active {
      transform: scale(1); }
  footer .footer-links {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 32px 0; }
    footer .footer-links a {
      text-decoration: none;
      color: white; }
    footer .footer-links a:hover {
      color: #d7d7d7; }

@media only screen and (max-width: 600px) {
  nav {
    padding: 16px; }
    nav .content {
      flex-direction: column;
      gap: 10px; }
    nav .line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: white; }
    nav .social {
      gap: 20px; }
      nav .social .icon-containers {
        width: 30px;
        height: 30px; }
      nav .social .facebook {
        position: absolute;
        bottom: 0px;
        right: 4.5px;
        height: 23px; }
      nav .social .twitter {
        width: 18px;
        height: 18px; }
      nav .social .spotify {
        transform: rotate(47deg);
        position: absolute;
        bottom: 3px;
        left: 2.5px;
        height: 21px;
        width: 21px; }
  .main-container {
    padding: 24px 16px 0; }
  .bullet-points {
    padding: 0px 32px;
    display: flex;
    flex-direction: column; }
    .bullet-points li {
      padding-left: 16px;
      letter-spacing: 1.5px; }
  .price-container {
    flex-direction: column;
    padding: 12px 16px 0;
    padding-top: 12px; }
    .price-container .plan {
      width: 100%; }
  .contact-container {
    display: none; }
  footer {
    margin-top: 32px; }
    footer .mobile-contact {
      display: block; }
      footer .mobile-contact button {
        color: white;
        font-weight: 500;
        font-size: 15px; }
    footer .footer-links {
      padding: 16px;
      font-size: 15px; } }

@keyframes changeSize {
  from {
    transform: scale(1.05); }
  to {
    transform: scale(1); } }
